.btn-primary{
    background-color: #1A3D67 !important;
    color: white!important;
    font-weight: bold!important;
}

.btn-green{
    background-color: #4DBD74!important;
    color: white!important;
    font-weight: bold!important;
}

.btn-red{
    background-color: #CF274f !important;
    color: white!important;
    font-weight: bold!important;
}

.btn-grey{
    background-color: #C6C6C6 !important;
    font-weight: bold!important;
}

.btn-light-blue{
    background-color: #2196F3 !important;
    color: white!important;
    font-weight: bold!important;
}

.btn-green-outline{
    border-color: #4DBD74!important;
    color: #4DBD74!important;
    font-weight: bold!important;
}